<!--<div class="main-content">
    <div clas="section-content section-content-p30">
        <div class="container">
            <div class="row">
               
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <img alt="iamge2" src="{{tempProduct.imageUrl}}" class="img-responsive">
                        <h1>{{tempProduct.name}}</h1>
                        <div class="price">
                            {{tempProduct.unitPrice | currency:'USD'}}
                        </div>
                        <div href="#" class="primary-btn"> Add to cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="main-content">
        <div class="container-fluid">
            <div class="row col-md-12">
                <div class="col-md-3">raji</div>
                <div class="col-md-3">raji</div>
                <div class="col-md-3">raji</div>
                <div class="col-md-3">raji</div>
            </div>
        </div>
   
</div>
